<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Edit</title>
</head>
<body>

<form th:action="@{/books/{id}/edit(id=${book.id})}" method="POST" th:object="${book}">
  <input type="hidden" th:field="*{id}" />
  <input type="hidden" name="_method" value="PUT"/>

  <label for="title">Title:</label>
  <input type="text" th:field="*{title}" id="title">
  <div style="color:red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Name Error</div>
  <br/>
  <label for="author">Author:</label>
  <input type="text" th:field="*{author}" id="author">
  <div style="color:red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Name Error</div>
  <br/>
  <label for="year">Year:</label>
  <input type="text" th:field="*{year}" id="year">
  <div style="color:red" th:if="${#fields.hasErrors('year')}" th:errors="*{year}">Name Error</div>
  <br/>
  <input type="submit" value="Редактировать книгу">
</form>

</body>
</html>